.todo {
  width: 100%;
  max-width: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.todoSubItem {
  width: calc(100% - 1.5rem);
}

.todoTitle {
  width: 100%;
}

.secondRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.secondRow > * {
  padding: 0;
}

.deleteButton {
  position: absolute !important;
  left: 0;
  top: 0;
}

.creationTime {
}
